<?xml version="1.0"?>

<model>
  <name>Waypoint</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Andre Santos</name>
    <email>uc2013171665@student.uc.pt</email>
  </author>

  <description>
    Simple ball-shaped with physical marker
  </description>
</model>
